
/* Navbar */
nav {
    background: #ce1c1c !important;
    box-shadow: 1px 1px 2px #4444;
}

nav .navbar-brand {
    color: rgb(46, 196, 151);
}

.navbar-nav .nav-link {
    font-size: 18px;
    padding-top: 15px;
    padding-bottom: 15px;
}

navbar-toggler {
    outline: none !important;
    padding: none !important;
}

[id]::before {
    content: "";
    display: block;
    height: 70px;

    margin-top: -70px;
    
    visibility: hidden;
}

/* Corousel */
.carousel-inner .carousel-item {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.carousel-inner .carousel-item::before {
    content: '';
    background-color: rgba(12, 11, 10, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.carousel-inner .carousel-caption {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 37%;
    left: 0;
    right: 0;

}

.carousel-inner .carousel-caption span {
    color: orange;
}

.carousel-inner .carousel-caption h2 {
    color: #fff;

    font-size: 42px;
    font-weight: 600;
    width: 80%;
    margin: 0px auto 10px auto;
}

.carousel-inner .carousel-caption p {
    font-size: 20px;
    width: 80%;
    margin: 0px auto 20px auto;
}

@media(max-width: 768px) {
    .carousel-inner .carousel-caption h2 {
        font-size: 38px;
    }
}

@media(max-width: 577px) {
    .carousel-inner .carousel-caption h2 {
        font-size: 25px;
    }

    .carousel-inner .carousel-caption p {
        font-size: 13px;
    }
}

/* Section Head */
.section-heading {
    color: orange;
}

/* galeri */
.galeri .box {
    padding: 10px 10px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.galeri .box img {
    padding: 10px 10px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}


.col-md-6 {
    display: flex;
    flex-direction: column;
  
}


/* sejarah */

.history-item img {
    float: left;
    margin-right: 20px;
    max-width: 300px;
    max-height: 250px;
}

/* visimisi */
.column {
    flex: 1;
    margin: 0 10px;
}



@media only screen and (max-width: 600px) {
    .column {
        margin: 10px 0;
    }
}


table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border-bottom: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.news-card {
    cursor: pointer;
    text-align: center;
    width: 300px;
    margin: 10px;
}

.news-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 5px;
    max-width: 600px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: black;
}
.custom-img {
    max-height: 300px; 
    width: 100%;
    object-fit: cover; 
}



